.detail-content {
    display: flex;
    justify-content: center;
    padding: 5% 0;
    position: relative;
}

.detail-content__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    gap: 5%;
}

.content__img {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
}

.img__card {
    width: 90%;
    height: 90%;
    position: relative;
}

.img__card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.sold-label {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.sold-font {
    position: absolute;
    color: #ffffff;
    transform: rotate(-45deg);
    z-index: 10;
}

.content__form {
    grid-column: 2/3;
    padding-top: 1%;
}

.form__inner {
    width: 90%;
}

.item-price,
.description__content,
.description__heading,
.information__heading,
.comment__heading,
.item-comment {
    margin: 2% 0;
    line-height: 1.7;
}

.item-brand-name,
.description__description {
    font-size: 0.9rem;
}

.item-price {
    font-size: 1.8rem;
}

.item-price::before {
    content: "¥";
}

.item-price::after {
    content: "(税込)";
}

.item-price::before,
.item-price::after {
    font-size: 1rem;
}

.count-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    margin-top: 1%;
}

.favorite_count,
.comment_count {
    display: flex;
    flex-direction: column;
}

.favorite_btn,
.comment_wrapper {
    font-size: 2rem;
}

.favorite-btn {
    background: none;
    border: none;
}

.filled {
    color: gold;
    background: none;
}

.empty {
    background: none;
}

.favorite_count__number,
.comment_count__number {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 1%;
}

.description__heading,
.information__heading,
.comment__heading {
    font-size: 1.2rem;
}

.comment__heading {
    color: #5F5F5F;
}

.item-information__table {
    width: 100%;
}

.information__category,
.information__condition {
    font-size: 0.9rem;
    width: 30%;
    text-align: left;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    }

.table__group {
    line-height: 1.7;
}

.category__list input {
    -webkit-appearance: none;
}

.category__list label {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    font-size: 0.8rem;
    border-radius: 200px;
}

.category__list input[type="checkbox"]:checked  + label{
    background-color: #D9D9D9;
}

.category__list label:not(:checked + label) {
    display: none;
}

.condition__content {
    font-size: 0.8rem;
    padding-left: 10%;
}

.item-comment {
    font-size: 0.9rem;
}

.comment__form_textarea {
    width: 100%;
    padding: 2%;
    resize: none;
}

.button-sold,
.button-purchase {
    margin-top: 1rem;
}

.purchase-procedure-btn {
    width: 100%;
}

.button-purchase,
.button-sold {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-sold {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: #444444;
}

.comment-user_info {
    display: flex;
    align-items: center;
    gap: 5%;
}

.comment-user_image {
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-user_image img {
    width: 100%;
    height: auto;
}

.comment-user_name {
    font-weight: bold;
}

.comment-content {
    background-color: #E5E5E5;
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    margin: 3% 0;
}

.button-comment {
    margin-top: 2rem;
}

/* レスポンシブ (768px以上)*/
@media screen and (min-width: 768px) {
    .sold-label {
        border-top: 60px solid #FF5555;
        border-right: 60px solid transparent;
        border-left: 60px solid #FF5555;
        border-bottom: 60px solid transparent;
    }

    .sold-font {
        top: -35px;
        left: -55px;
        font-size: 1.2rem;
    }
}

/* レスポンシブ (1000px以上)*/
@media screen and (min-width: 1400px) {
    .sold-label {
        border-top: 100px solid #FF5555;
        border-right: 100px solid transparent;
        border-left: 100px solid #FF5555;
        border-bottom: 100px solid transparent;
    }

    .sold-font {
        top: -65px;
        left: -80px;
        font-size: 1.8rem;
    }
}
