.detail-content {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.detail-content__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    gap: 5%;
}

.content__img {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
}

.img__card {
    width: 90%;
    height: 90%;
}

.img__card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.content__form {
    grid-column: 2/3;
    padding-top: 1%;
}

.form__inner {
    width: 90%;
}

.item-price,
.description__description,
.description__heading,
.information__heading,
.comment__heading,
.item-comment {
    margin: 2% 0;
    line-height: 1.7;
}

.item-brand-name,
.description__description {
    font-size: 0.9rem;
}

.item-price {
    font-size: 1.8rem;
}

.item-price::before {
    content: "¥";
}

.item-price::after {
    content: "(税込)";
}

.item-price::before,
.item-price::after {
    font-size: 1rem;
}

.count-content {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-top: 1%;
}

.like_count,
.comment_count {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like_btn {
    padding: 0;
    cursor: pointer;
}

.img-like_icon,
.img-comment_icon {
    width: 25%;
    height: 25%;
}

.like_count__number,
.comment_count__number {
    font-size: 0.6rem;
    margin-top: 1%;
}

.description__heading,
.information__heading,
.comment__heading {
    font-size: 1.2rem;
}

.comment__heading {
    color: #5F5F5F;
}

.item-information__table {
    width: 100%;
}

.information__category,
.information__condition {
    font-size: 0.9rem;
    width: 30%;
    text-align: left;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    }

.table__group {
    line-height: 1.7;
}

.category__list input {
    -webkit-appearance: none;
}

.category__list label {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    font-size: 0.8rem;
    border-radius: 200px;
}

.category__list input[type="checkbox"]:checked  + label{
    background-color: #D9D9D9;
}

.category__list label:not(:checked + label) {
    display: none;
}

.condition__content {
    font-size: 0.8rem;
    padding-left: 10%;
}

.item-comment {
    font-size: 0.9rem;
}

.comment__form_textarea {
    width: 100%;
    padding: 2%;
    resize: none;
}

.button-purchase {
    margin-top: 1rem;
}

.button-comment {
    margin-top: 2rem;
}


