.user-info {
    padding: 0 10%;
    margin: 5% 0;
}

.user-info__inner {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
    width: 100%;
}

.user-info__image {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25%;
}

.user-info__image__inner {
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info__image__inner img {
    width: 100%;
    height: auto;
}

.user-info__content {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    width: 100%;
}

.user-info__edit-form {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    width: 100%;
}

.user-info__edit-btn {
    display: block;
    width: 60%;
    text-align: center;
    padding: 2% 0;
    color: #FF5555;
    border: solid 2px #FF5555;
    border-radius: 10px;
    font-weight: bold;
}

/* レスポンシブ (768px以上) */
@media screen and (min-width: 768px) {
    .user-info__image__inner {
        width: 90px;
        height: 90px;
    }

    .user-info__image__inner img {
        font-size: 0.5rem;
    }

    .user-name {
        font-size: 1rem;
    }

    .user-info__edit-btn {
        font-size: 0.8rem;
        width: 80%;
        padding: 2% 0;
    }
}

.group-list {
    padding: 0 0 0.1% 11%;
}

/* レスポンシブ (1000px以上) */
@media screen and (min-width: 1400px) {
    .user-info__image__inner {
        width: 140px;
        height: 140px;
    }

    .user-info__image__inner img {
        font-size: 0.8rem;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .user-info__edit-btn {
        font-size: 1rem;
        width: 60%;
        padding: 2% 0;
    }
}