.user-info {
    padding: 0 15%;
    margin: 5% 0;
}

.user-info__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.user-info__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info__image__inner {
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info__image__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}

.user-name {
    display: flex;
    justify-content: flex-end;
}

.user-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fas.fa-star {
    font-size: 2rem;
}

.user-info__edit-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
}

.user-info__edit-btn {
    text-align: center;
    text-align: center;
    padding: 10px 0;
    color: #FF5555;
    border: solid 2px #FF5555;
    border-radius: 10px;
    font-weight: bold;
    display: block;
}

.tabs {
    padding: 0 0 0.1% 11%;
    border-bottom: 2px solid #5F5F5F;
}

.tabs a {
    color: #5F5F5F;
    padding: 10px 30px;
    margin-right: 50px;
    font-weight: bold;
}

.tabs a.active-tab {
    color: #FF0000;
    font-weight: bold;
}

.total-unread-msg {
    display: inline-block;
    background-color: #FF0000;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 2px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.item__card {
    position: relative;
}

.sold-label {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 50px solid #FF5555;
    border-left: 50px solid transparent;
    border-right: 50px solid #FF5555;
    border-bottom: 50px solid transparent;
    border-radius: 4px;
    z-index: 100;
}

.sold-font {
    position: absolute;
    top: -33px;
    right: -45px;
    color: #ffffff;
    font-size: 1rem;
    transform: rotate(45deg);
    z-index: 101;
}

.notification-badge {
    position: absolute;
    top: 3px;
    left: 3px;
    position: absolute;
    background-color: #FF0000;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    border-radius: 50%;
    text-align: center;
    z-index: 102;
}

.product-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card__img img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card__detail p {
    font-size: 1.1rem;
}

.no-results {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
}

/* レスポンシブ (768px以上)*/
@media screen and (min-width: 768px) {
    .user-info__image__inner {
        width: 90px;
        height: 90px;
    }

    .user-info__image__inner img {
        font-size: 0.5rem;
    }

    .user-name {
        font-size: 1rem;
    }

    .user-info__edit-btn {
        font-size: 0.8rem;
        width: 80%;
        padding: 2% 0;
    }

    .items-list {
        display: grid;
        grid-template-columns: repeat(3, 31%);
        padding: 0 3%;
    }

    .item__card {
        margin-top: 10%;
    }

    .item__card:last-child {
        margin-bottom: 10%;
    }
}

/* レスポンシブ (1000px以上)*/
@media screen and (min-width: 1400px) {
    .items-list {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        padding: 0 6%;
    }

    .item__card {
        margin-top: 21%;
    }

    .item__card:last-child {
        margin-bottom: 21%;
    }

    .user-info__image__inner {
        width: 140px;
        height: 140px;
    }

    .user-info__image__inner img {
        font-size: 0.8rem;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .user-info__edit-btn {
        font-size: 1rem;
        width: 60%;
        padding: 2% 0;
    }
}