.purchase-form__inner {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.purchase-form__form {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4%;
}

.purchase-form__form form {
    width: 100%;
}

.purchase-form__action {
    grid-column: 1/2;
}

.item__information {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 7%;
    padding-bottom: 5%;
}

.item__card {
    grid-column: 1/2;
    width: 100%;
    height: auto;
}

.item__card img {
    width: 100%;
    height: auto;
}

.item-price--action {
    font-size: 1.5rem;
    margin-top: 2%;
}

.item-price::before {
    content: "¥";
    font-size: 1rem;
}

.item-price--confirm {
    font-size: 1rem;
}

.item__content {
    grid-column: 2/3;
}

.item__information,
.item__pay-method,
.item__deliver-address {
    border-bottom: 1px solid #000000;
}

.item__pay-method,
.item__deliver-address {
    padding: 3% 5%;
    height: 40%;
}

.select-wrapper,
.deliver-address__content {
    margin-left: 8%;
    margin-top: 4%;
}

.pay-method__select {
    width: 15rem;
    padding: 2%;
    font-size: 1rem;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #5F5F5F;
}

.deliver-address__wrapper {
    display: flex;
    justify-content: space-between;
}

.address-update__button-submit {
    color: #0073CC;
}

.postal_code::before {
    content: "〒";
}

.address {
    margin-left: 1rem;
}

.purchase-form__confirm {
    grid-column: 2/3;
}

.confirm-table {
    width: 100%;
    height: 40%;
}

.confirm-table__row {
    vertical-align: middle;
    text-align: center;
}

.confirm-table__label {
    width: 40%;
}

.confirm-table__data {
    width: 60%;
}

.purchase-form__btn {
    margin-top: 15%;
}

/* レスポンシブ (768px以上)*/
@media screen and (min-width: 768px) {
    .pay-method__heading,
    .deliver-address__heading,
    .confirm-table__data,
    .address-update__button-submit {
        font-size: 1rem;
    }

    .confirm-table__label {
        font-size: 0.8rem;
    }

    .purchase-form__btn {
        font-size: 1rem;
        height: 10%;
    }
}

/* レスポンシブ (1000px以上)*/
@media screen and (min-width: 1400px) {
    .pay-method__heading,
    .deliver-address__heading,
    .confirm-table__data {
        font-size: 1.2rem;
    }

    .confirm-table__label {
            font-size: 1rem;
    }

    .purchase-form__btn {
        font-size: 1.2rem;
        height: 8%;
    }

}
